
  <table width="1000" border="1" cellpadding="5">
    <tr>
    
      <td align="center" valign="center">
      
      <img src="assets/images/anushka.jpg" class="friend" alt="description here" />
      </td>
      
      <td class="cell-breakWord" align="center" valign="center"   >
        You are the most annoying thing which has ever happened to me 
        That was a very manhoos ghari jokhun tui paida hoyechilish, amar jibon noshto korar jonno 
        Bad decisions er dukan tui,for me as well as for yourself😂 Tor bestie ami, that's why amio same😂 
        You are that daarchini in my biriyani jeta mukhe gele ewww laage amar but ota chhara biriyani te flavour hoyena.
        Tor Hindi Bangla mixture beshi din na shunle mon kamon kore. 
        Many things had conspired to drift us apart but again tui toh chipku ami jani and we end up together like magnets.
        I bet amar moto arekta piece tor life e nei.
        You make my life miserable but toke chhara life cholbena. I love you more than any of your crushes and boyfriend🙄 just mone koriye dilam.
        
        With love
        YOUR BESTIE
        (SUPPOSEDLY IMPORTANT PERSON IN YOUR LIFE)
        Anushka
      </td>
      
      </tr>
      <tr>
    
        <td align="center" valign="center">
        
        <img src="assets/images/angana.jpg" class="friend" alt="description here" />
        </td>
        
        <td class="cell-breakWord" align="center" valign="center"   >
          From knowing you as just a CR from the other section to you being my closest friend in college, we have come a long way. From auditioning for Fresher's dance competition to bitching about all the weird people around us, we have made lots of memories. Thank you for being there and making it possible for me to survive college. Also,thanks for bearing with my gaalis always😪 I wish college re-opens faster so that we can create more memories to cherish in our old ages, and say our drunk and silly tales to each other's children.
          Happy 21st Anyesha❣️ May everything be good for you in the coming days😘
          Placed hoye final year trip e jabo kintu to bring back bktpp days 🥺
        </td>
        
        </tr>
        <tr>
    
          <td align="center" valign="center">
          
          <img src="assets/images/shivangi.jpg" class="friend" alt="description here" />
          </td>
          
          <td class="cell-breakWord" align="center" valign="center"   >
            Happy Birthday , Girly gurl!💗 More importantly , HAPPPY FREAKING 21st! Time to rip of them fake IDs! I hope you have the greatest day , although Miss Rona might try to sabotage this day, BUT DON'T LET HER, BECAUSE IT IS YOUR 21ST! 💗
            The journey to becoming a wise owl has started 🙈 .Hehe!
           Sending you BOXES OF LOVE AND HUGS AND KISSES! I miss you and see you super soon!
           Xoxo
          </td>
          
          </tr>
      
    <tr>
    
    
    <td align="center" valign="center">
    
    <img src="assets/images/tanmoyda.jpg" class="friend" alt="description here" />
    </td>
    
    <td class="cell-breakWord" align="center" valign="center"   >
      Happy birthday my Matongini Hajra/Fulon Debi/Gyaan Debi... You will always remain my favourite junior with a bit of extravagant anger! Thoda gussa kaam kro ji.🙏 Have a great quarantined birthday. Stay safe. Stay sanitized! Loads of love and best wishes for your career❤️ And next time we meet, treat is on your side. Keep saving money for I am coming for the loot. Enjoy the day to the fullest !!!
    </td>
    
    </tr>
    <tr>
    
      <td align="center" valign="center">
      
      <img src="assets/images/akash.jpg" class="friend" alt="description here" />
      </td>
      
      <td class="cell-breakWord" align="center" valign="center"   >
        Onekdin toke eita dakini and since I only store it away for special occassions, a very happy birthday mutki. Grow older and fatter. Have a very happy birthday. Dont ogle at fat aunties from the neighborhood. And you'll have your pringles one day 🌝 you will. Chill. Lots of love
      </td>
      
      </tr>
      <tr>
    
        <td align="center" valign="center">
        
        <img src="assets/images/amrit.jpg" class="friend" alt="description here" />
        </td>
        
        <td class="cell-breakWord" align="center" valign="center"   >
          Many many happy returns of the day...I know how much you were excited for this day and finally it has arrived!!...HAPPY BIRTHDAY!!!...the day on which you were born!!!...ye din nahi hota toh aap milte hi nahi kabhi...tokhn call kore ke jigesh korto je "chinte partish?" and act as if I don't know you😂😂...So i am very greatfull to God for this day...jai hok I just wish that God showers you with all the blessings and fulfill all your wishes...bhalo thak... khushi thak...and once again HAPPY BIRTHDAY!!!!
        </td>
        
        </tr>
        <tr>
    
          <td align="center" valign="center">
          
          <img src="assets/images/ishani.jpg" class="friend" alt="description here" />
          </td>
          
          <td class="cell-breakWord" align="center" valign="center"   >
            From  endless dance rehearsals to endless parar natoker rehearsals and to some bhajan mandali sessions, and aslo to some gossips, I'm lucky to have come across you prettiness.😌
            Your most famous dialogue that has stayed with me is
            "তুমি মতি আমি চুড়,
            এ চিবুকেতে তুমি নূর।"
            I hope you remember this too.
            Trucks and loads of love,
            Ishani.♥️
          </td>
          
          </tr>
          <tr>
    
            <td align="center" valign="center">
            
            <img src="assets/images/titli.jpg" class="friend" alt="description here" />
            </td>
            
            <td class="cell-breakWord" align="center" valign="center"   >
              Anyeshaaaaaa happy birthdayyyyyy❤️❤️❤️❤️
              You will forever be my dance, singing, natok and audience partner😂 aaro amazing amazing jinish korte thako, ekdom MasterChef hoye jao ebar aar paglami tao korte thako🤩
              Darun bhabe moja koro aajke. 21 hoye geleee. Ekdom shob dik theke legal ;)) 
              I miss youu. Shob thik hoye gele partyyy korbooo🥳
              Happy Birthday once again🥺❤️🥰
              Love youuu,
              Titli
            </td>
            
            </tr>
          <tr>
    
            <td align="center" valign="center">
            
            <img src="assets/images/adc.jpg" class="friend" alt="description here" />
            </td>
            
            <td class="cell-breakWord" align="center" valign="center"   >
              Difficult to write for someone who is close enough to perceive silences. Not everyone belongs to a vortex full of words, some bonds are treasured in silent understandings and muted verbosity. In a world full of ornate flattery, happy Birthday to the one who feels, emotes and brews love silently. And whenever you speak, you inevitably mess up... 😂😂... Love you to the moon and back. May all your hysteric plans succeed and may you find a soul who would really know you for who you are... For reading you is impossible, you need to be read between those lines

ADC
            </td>
            
            </tr>
            <tr>
    
              <td align="center" valign="center">
              
              <img src="assets/images/nakshatra.jpg" class="friend" alt="description here" />
              </td>
              
              <td class="cell-breakWord" align="center" valign="center"   >
                Turning 21 is a big deal, but I wish that your future is filled with precious memories and people along this journey of your adulthood. I know you can take all the ways and situation life throws at you in a stride. Thank you for being a great friend and not killing me.........yet 😪🌚. A very very Happy 21st Birthday to you.
                P.S - I dont just want a treat, i want a Grand Party later !! 🙂
              </td>
              
              </tr>
              <tr>
    
                <td align="center" valign="center">
                
                <img src="assets/images/kausum.jpg" class="friend" alt="description here" />
                </td>
                
                <td class="cell-breakWord" align="center" valign="center"   >
                  In the span of last two years you have crossed the tag of an acquaintance to become a part of a small arc in my friend circle. Hope you spend your birthday as enjoyable as possible in this lockdown. Giving you a lot of bhao and patta.
                </td>
                
                </tr>
     
      
    
    </table>
