<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<header>
    <div class="container">
        <a routerLink="/" class="logo" >Happy birthday</a>
        <nav>
            <ul>
                <li><a routerLink="/">Card</a></li>
                <li><a routerLink="/memories">Memories</a></li>
                <li><a routerLink="/happy10">Happy 10th!</a></li>
                <li><a routerLink="/messages">Messages</a></li>
               
            </ul>
        </nav>
    </div>
</header>