.music
{
    display: none;
}

.frontpage-banner {
    margin-bottom: 40px;
    position: relative;
}

.container{
    padding: 30px;
}


.img1
{
   border-radius: 80px;
   
}
.img2
{
   max-width: 200%;
   // margin: 25px 50px 75px 100px;
    
}
