


<body>
    <div class="container">
  <!-- <embed src="card.pdf" type="application/pdf" width="100%" height="600px" />-->
 <div class="img1" style= "position:relative; left:-130px; "> <img class="img1" [src]=myimage1 ></div>
 <div class="img2" style= "position:relative; left:-380px; bottom:-700px; "> <img class="img2" [src]=myimage2></div>

 <!-- <embed src="card.pdf" width="800px" height="2100px" />-->
    </div>
</body>
<iframe class="music" width="560" height="315" src="https://www.youtube.com/embed/vNCDAvLxy_Y?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>